.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgE {
  width: 400px;
  height: 400px;
}
