.homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sectionContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 35px;
  flex-wrap: wrap;
}

.img {
  max-width: 300px;
  object-fit: contain;
}

.img img {
  width: 130%;
  height: auto;
}

.textContent {
  max-width: 500px;
  text-align: left;
}

.hello {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #34a0a4;
}

.paragraph {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #34a0a4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: #335577;
}
