.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d2d44;
  padding: 10px 10px;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

/* Style for NavLink */
.navLinks a:link,
.navLinks a:visited {
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

/* Optional: Hover effect */
.navLinks a:hover {
  background-color: #2e3e59;
  transition: background-color 0.3s;
}
