.finish {
  background-color: #ffffff;
  padding: 4rem 2rem 4rem; /* Added more bottom padding */
  border-radius: 1.5rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 6rem auto;
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
  box-shadow: 0 5px 15px #34a0a4;
}

.buttonWrapper {
  margin-top: 6rem;
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}

.score,
.highscore {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1rem;
}
