.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #52b69a;
  border-top: 5px solid #1d2d44;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.2rem;
  color: #1d2d44;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
