.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #52b69a;
  border-top: 5px solid #1d2d44;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.2rem;
  color: #1d2d44;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .container {
    min-height: 40vh;
  }

  .loader {
    width: 40px;
    height: 40px;
    border-width: 4px;
  }

  .text {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .container {
    min-height: 30vh;
  }

  .loader {
    width: 35px;
    height: 35px;
    border-width: 3px;
  }

  .text {
    font-size: 1rem;
  }
}
