.question {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  max-width: 700px;
  margin: 5rem auto;
  text-align: center;
  box-shadow: 0 5px 15px #34a0a4;
}

.question h4 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.5rem;
}
